.navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

.word-wrap-break-word {
    word-wrap: break-word;
}

.logo {
    width: 100%;
}

.logo-wrapper {
    min-width: 40%;
    width: 40%;
    height: auto;
}

.share_logo {
    width: 66%;
}