---
layout: default
title: home
---
<main role="main" class="main flex-shrink-0">
    <div class="row">
        <div class="col-10 offset-1 p-0">
            <div class="bg-light my-4 pt-4 pb-4">
                <div class="col-10 offset-1 pl-0">
                    <div class="lead">
                        <p></p>
                        {% include homepage_intro.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-4 align-items-center">
        <div class="col-md-10 offset-md-1">

            <div class="row">
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 px-2">
                    <div id="search-container">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Search</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Type to search companies and products on the site"
                                id="search-input" placeholder="Try typing Google...">
                        </div>
                        <ul id="results-container" class="list-group pl-0 mt-3"></ul>
                    </div>
                </div>
            </div>
            {% include homepage_companies.html %}
        </div>
    </div>
</main>