---
layout: default
title: home
---
<main role="main" class="main flex-shrink-0">
    <div class="row">
        <div class="col-10 offset-1 p-0">
            <div class="bg-light my-4 pt-4 pb-4">
                <div class="col-10 offset-1 pl-0">
                    <div class="lead">
                        <p></p>
                        {% include homepage_intro.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-4 align-items-center">
        <div class="col-md-10 offset-md-1">

            {% include searchbar.html %}

            {% include homepage_companies.html %}

            <hr class="mt-5">

            {% include homepage_share.html %}

        </div>
    </div>
</main>