<footer class="footer bg-light mt-5 py-3">
    <div class="container">
        <div class="row mt-3">

            <div class="col-8 col-sm-2 offset-sm-2">
                <hr>
                <a href="http://github.com/edjw/stop-targeting-ads-me">Source</a>
                <br>
                <a href="https://twitter.com/_edjw">Contact me</a>
            </div>
            <div class="col-10 col-sm-5 offset-sm-1">
                <hr>
                <p>
                    Except for company logos, content on this website is under a <br><a
                        href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike
                        4.0 license</a>.</p>
            </div>
        </div>
    </div>
</footer>