<h3 class="mt-5">Tell people about this site</h3>

<div class="row">

	<div class="col-sm-6 col-md-6 col-lg-4 mt-3 px-2">
		<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//stoptargetingads.me"
			rel="noopener noreferrer nofollow" target="_blank" class="text-decoration-none">

			<div class="media pl-2 py-2 rounded-lg border border-secondary">
				<div class="logo-wrapper mr-3">
					<img src="/images/site/facebook.svg" class="logo" alt="">
				</div>

				<div class="media-body align-self-center mr-5">
					<h5 class="text-dark">
						Share on Facebook
					</h5>

				</div>
			</div>

		</a>
	</div>

	<div class="col-sm-6 col-md-6 col-lg-4 mt-3 px-2">
		<a href="https://twitter.com/intent/tweet?text=Find out how to turn off targeted ads on https://stoptargetingads.me"
			rel="noopener noreferrer nofollow" target="_blank" class="text-decoration-none">

			<div class="media pl-2 py-2 rounded-lg border border-secondary">
				<div class="logo-wrapper mr-3">
					<img src="/images/site/twitter.svg" class="logo" alt="">
				</div>

				<div class="media-body align-self-center mr-5">
					<h5 class="text-dark">
						Share on Twitter
					</h5>

				</div>
			</div>

		</a>
	</div>

	<div class="col-sm-6 col-md-6 col-lg-4 mt-3 px-2">
		<a href="mailto:?&subject=Find out how to turn off targeted ads&body=This site helps you turn off targeted adverts on lots of sites and apps:%0D%0Ahttps://stoptargetingads.me"
			rel="noopener noreferrer nofollow" target="_blank" class="text-decoration-none">

			<div class="media pl-2 py-2 rounded-lg border border-secondary">
				<div class="logo-wrapper mr-3">
					<img src="/images/site/email.svg" class="logo" alt="">
				</div>

				<div class="media-body align-self-center mr-5">
					<h5 class="text-dark">Share by email</h5>

				</div>
			</div>

		</a>
	</div>
</div>