<div class="row py-2 align-items-center">
	<div class="col-2">

		<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//stoptargetingads.me{{ page.url}}"
			rel="noopener noreferrer nofollow" target="_blank" title="Share this page on Facebook">
			<img alt="Share on Facebook" src="/images/site/facebook.svg" class="share_logo" />
		</a>
	</div>

	<div class="col-9">
		<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//stoptargetingads.me{{ page.url}}"
			rel="noopener noreferrer nofollow" target="_blank" title="Share this page on Facebook">Share this page on
			Facebook</a>
	</div>
</div>

<div class="row py-2 align-items-center">
	<div class="col-2">
		<a href="https://twitter.com/intent/tweet?text=Find out how to turn off targeted ads on {% if page.name[0]%}{% for name in page.name %}{{ name }}{% if page.name[0] and name != page.name[-1]%}/{% endif %}{% endfor %}{% else %}{{ page.name }}{% endif %} at&url=https://stoptargetingads.me{{ page.url }}"
			rel="noopener noreferrer nofollow" target="_blank" title="Share this page on Twitter">
			<img alt="Share on Twitter" src="/images/site/twitter.svg" class="share_logo" />
		</a>
	</div>

	<div class="col-9">
		<a href="https://twitter.com/intent/tweet?text=Find out how to turn off targeted ads on {% if page.name[0]%}{% for name in page.name %}{{ name }}{% if page.name[0] and name != page.name[-1]%}/{% endif %}{% endfor %}{% else %}{{ page.name }}{% endif %} at&url=https://stoptargetingads.me{{ page.url }}"
			rel="noopener noreferrer nofollow" target="_blank" title="Share this page on Twitter">Share this page on
			Twitter</a>
	</div>

</div>


<div class="row py-2 align-items-center">
	<div class="col-2">
		<a href="mailto:?&subject=Find out how to turn off targeted ads on {% if page.name[0]%}{% for name in page.name %}{{ name }}{% if page.name[0] and name != page.name[-1]%}/{% endif %}{% endfor %}{% else %}{{ page.name }}{% endif %}&body=https%3A//stoptargetingads.me{{ page.url}}"
			target="_blank" title="Send email"><img alt="Send email" src="/images/site/email.svg" class="share_logo" /></a>
	</div>

	<div class="col-9">
		<a href="mailto:?&subject=Find out how to turn off targeted ads on {% if page.name[0]%}{% for name in page.name %}{{ name }}{% if page.name[0] and name != page.name[-1]%}/{% endif %}{% endfor %}{% else %}{{ page.name }}{% endif %}&body=This page helps you turn off targeted ads on {% if page.name[0]%}{% for name in page.name %}{{ name }}{% if page.name[0] and name != page.name[-1]%}/{% endif %}{% endfor %}{% else %}{{ page.name }}{% endif %}:%0D%0Ahttps%3A//stoptargetingads.me{{ page.url}}"
			target="_blank" title="Send email">Share this page by email</a>
	</div>

</div>