
<meta name="description" content="{{ site.description }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.short_description }}" />
<meta property="og:image" content="/favicon.ico" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@_edjw">
<meta name="twitter:title" content="{{ site.short_description }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="/favicon.ico">
<link rel="icon" type="image/x-icon" href="/favicon.ico" />